### came with the app
venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
*.otreezip
### below added by chatgpt
__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
venv/
env/
.vscode/
settings.py